.homeContainer{
    margin-top:170px;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:30px
}
.homeTitle{
    width: 1024px;
    font-size: 25px;
    font-weight: 400;
  }