.beach-image {
  position: relative;
  width: 100%;
  height: 400px;
}
.beach-image > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  /* background-color: rgba(104, 151, 161, 0.6); Semi-transparent background */
  background: transparent;
  border-radius: 10px;
}
.content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.content h3 {
  font-size: 1.2rem;
}
.searchContainer {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 100%;
  max-width: 1000px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.headerList {
  position: absolute;
  top: -20%;
  left: 22%;
  width: 600px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 1.05rem;
  cursor: pointer;
  justify-content: space-around;
}
.headerListItem {
  align-items: center;
}
.headerListItem span {
  margin-left: 5px;
}
.headerListItem.active {
  color: grey;
  padding: 10px;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: 62px;
  max-width: 1024px;
  font-size: 1.2rem;
  gap: 40px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0 5px 0 5px;
  padding: 5px;
}

.headerSearchInput {
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.headerSearchText {
  color: gray;
  cursor: pointer;
  font-size: 1.2rem;
  width: 235px;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
  color: grey;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;

  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
.Search-btn {
  position: absolute;
  top: 90%;
  left: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.05rem;
  cursor: pointer;
}
.search {
  height: 50px;
  width: 400px;
  border: 1px solid #339999;
  background-color: #339999;
  border-radius: 10px;
  font-size: 1.6rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
