.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://c.animaapp.com/eCO9vgz3/img/travello-1.png");
  background-size: cover;
}

.lInput {
  height: 30px;
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
.content-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  height: 500px;
}

.logo-text {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.input-container {
  margin: 10px;
}

.input-label {
  display: block;
  font-weight: bold;
  margin: 8px;
}

.button-container {
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .content-wrapper {
    padding: 20px;
    height: 400px;
  }

  .input-label {
    font-size: 14px;
  }

  .input-field {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
